/*
!README.md
!.gitignore

!.fonts.conf
!.vimrc
!.zshrc

!.config
.config/*
!.config/zsh
!.config/sublime-text-2
.config/sublime-text-2/*
!.config/sublime-text-2/Packages
.config/sublime-text-2/Packages/*
!.config/sublime-text-2/Packages/User

!.vim
.vim/backup/*
!.vim/backup/dummy
