/*
!readme.md
!INSTALL
!.gitignore

!.fonts.conf
!.vimrc
!.gvimrc
!.zshrc

!.config
.config/*
!.config/zsh

!.vim
.vim/*
!.vim/backup
.vim/backup/*
!.vim/colors
!.vim/syntax/
.vim/syntax/*
!.vim/syntax/coffee.vim
!.vim/syntax/mkd.vim
!.vim/ftdetect/
.vim/ftdetect/*
!.vim/ftdetect/coffee.vim
!.vim/ftdetect/mkd.vim
!.vim/backup/dummy
!.vim/backup/dummy
