/*
!readme.md
!.gitignore

!.fonts.conf
!.vimrc
!.gvimrc
!.zshrc

!.config
.config/*
!.config/zsh

!.vim
.vim/backup/*
.vim/doc
.vim/nerdtree_plugin
.vim/syntax
.vim/ftdetect
.vim/plugin
!.vim/backup/dummy
