! Kelsey's URXVT Configuration
! ----------------------------

! Fonts
Xft*dpi: 96
Xft*antialias: true
Xft*autohint: true
Xft*hinting: true
Xft*hintstyle: hintnone
Xft*rgba: none
URxvt*font: xft:ubuntu mono:size=13.5:style=medium:antialias=true
XTerm*faceName: xft:ubuntu mono:size=13.5:style=medium:antialias=true
URxvt*lineSpace: 3

URxvt*fading: 75
URxvt*scrollBar: false
URxvt*geometry: 134x34

