! Kelsey's URXVT Configuration
! ----------------------------

! Fonts
Xft*dpi: 96
Xft*antialias: true
Xft*autohint: true
Xft*hinting: true
Xft*hintstyle: hintnone
URxvt*font: xft:ubuntu mono:size=15:style=medium:antialias=true
XTerm*faceName: xft:ubuntu mono:size=15:style=medium:antialias=true

URxvt*scrollBar: false
URxvt*geometry: 120x36

