<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <match target="font">
    <edit name="autohint" mode="assign">
      <bool>{{font-autohint}}</bool>
    </edit>
    <edit name="hinting" mode="assign">
      <bool>{{font-hinting}}</bool>
    </edit>
    <edit mode="assign" name="hintstyle">
      <const>{{font-hinting-style}}</const>
    </edit>
  </match>
</fontconfig>
